
@media (max-width: 992px) {

	body {
		background: $w;
	}
	.container {
  		width: 100%;
	}
	.col-sm-3 {
		padding: 0;
		width: 100%;
	}
	.col-sm-4 {
		padding: 0;
		width: 100%;
	}
	.col-sm-5 {
		padding: 0;
		width: 100%;
	}
	.col-sm-7 {
		padding: 0;
		width: 100%;
	}
	.col-sm-9 {
		padding: 0;
		width: 100%;
	}
	.col-sm-12 {
		padding: 0;
	}
	.container {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.row {
		margin: 0;	
	}
	.chartWidth-sm {
		width: 34%;
	}
	#game-content {
		padding: 0;
	}
	#questiontext1 {
		display: block;
	}
	#fixedHeader {
		display: none;
	}
	.sliderNav {
		display: none;
	}
	div.ui-slider {
	    display: inline-block;
	    height: 10px;
	    margin: 0 2% 0 20px;
	    overflow: visible;
	    padding: 0;
	    position: relative;
	    top: 4px;
	    width: 95%;
	    @include border-radius(1em);
	}
	.sliderRow {
		width: 100%;
		padding: 0 0 0 0;
		height: 100%;
	}
	.sliderBackground0 {
		border: medium none;
    	height: 10px;
    	width: 0%;
    	padding-right: 7px;
  		background: $color1;
  		@include border-radius(1em);
	}
	.sliderBackground1 {
		border: medium none;
    	height: 10px;
    	width: 0%;
    	padding-right: 7px;
  		background: $color2;
  		@include border-radius(1em);
	}
	.sliderBackground2 {
		border: medium none;
    	height: 10px;
    	width: 0%;
    	padding-right: 7px;
  		background: $color3;
  		@include border-radius(1em);
	}
	.sliderBackground3 {
		border: medium none;
    	height: 10px;
    	width: 0%;
    	padding-right: 7px;
  		background: $color4;
  		@include border-radius(1em);
	}
	.sliderBackground4 {
		border: medium none;
    	height: 10px;
    	width: 0%;
    	padding-right: 7px;
  		background: $color5;
  		@include border-radius(1em);
	}
	.sliderContainer {
		border-bottom: 1px solid #A8A8A8;
	    height: 66px;
	    list-style: outside none none;
	    margin: 0 auto;
	    text-align: center;
		width: 100% !important;
	}
	.sliderLabelMobile {
		display: block;	
	 }
	
		/* style the slider handles per column */
	#sliderStyle0 .handleStyle {
	    color: rgb(136, 54, 130);
	}
	#sliderStyle1 .handleStyle {
	    color: rgb(31, 116, 201);
	}
	#sliderStyle2 .handleStyle {
	    color: rgb(253, 199, 50);
	}
	#sliderStyle3 .handleStyle {
	    color: rgb(226, 40, 47);
	}
	#sliderStyle4 .handleStyle {
	    color: rgb(79, 189, 85);
	}
	#sliderStyle5 .handleStyle {
	    color: rgb(136, 54, 130);
	}
	.slider .handleStyle {
	    background: $w;
	    height: 12px;
    	margin: 2px 0 0 -15px;
    	outline: 0 none;
    	position: absolute;
    	top: 50%;
    	width: 30px;
    	z-index: 1;
	}
	.slider .handleStyle:hover {
	    background: $w;
	    height: 12px;
    	margin: 2x 0 0 -15px;
    	outline: 0 none;
    	position: absolute;
    	top: 50%;
    	width: 30px;
    	z-index: 1;
	}
	
	.sliderWrapper {
		position: relative;
		height: 100%;
		padding: 15px 0 0 0;
		right: 0px !important;
		-moz-transition-property: none;
		-webkit-transition-property: none;
		-o-transition-property: none;
		transition-property: none;
		width: 100% !important;
	}
	.maxMin {
	    display:none;
	}
	.sliderScale {
	  border-left: 0;
	  height: 100%;
	  margin: 0 auto;
	  width: 0px;
	}
	.scaleMiddle {
	  border-top: 0;
	  bottom: 0;
	  height: 0;
	  left: 0;
	  position: relative;
	  width: 0;
	}
	.slider {
	  border: 1px solid #dddddd;
	  background: #eeeeee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
	  color: #333333;
	  @include border-radius(5px);
	  height: 14%;
  	  width: 100%;
  	  margin: 15px 0 0 0;
	}
	.centerText {
		text-align: center;
	}
	.factorWrapper {
		display: table;
		width: 100%;
		margin: 0;
		.buttonColumn {
			display: table-footer-group;
		}
		.labelColumn {
			display: table-header-group;
			text-align: center;
		}
	}
	.factorOverlay {
		width: 100%;
		height: 75px;
		pointer-events: none;
		position: absolute;
		z-index: 999;
	}
	.factorOverlay0 {
		background-color: rgba(255, 153, 255, 0.6);
	}
	.factorOverlay1 {
		background-color: rgba(153, 255, 255, 0.6);
	}
	.factorOverlay2 {
		background-color: rgba(255, 255, 204, 0.6);
	}
	.factorOverlay3 {
		background-color: rgba(255, 102, 102, 0.6);
	}
	.factorOverlay4 {
		background-color: rgba(153, 255, 153, 0.6);
	}
		.factorOverlay5 {
		background-color: rgba(255, 255, 204, 0.6);
	}
}
