@media (max-width: 1200px) {
    body {
        background-color: #fff;
    }
	ul {
		padding: 0;
	}
	.container {
  		width: 1170px;
	}
	.col-md-2 {
		width: 16%;
	}
	.col-md-3 {
		width: 15%;
	}
	.col-md-4 {
		padding: 0;
		width: 23%;
	}
	.col-md-8 {
		width: 75%;
	}
	.custom-col-md-8 {
		width: 66%;
	}
	.col-md-9 {
		width: 63%;
	} 
	.custom-col-md-3 {
		width: 25%;
	} 
	.leftPadding15 {
		padding-left: 25px;
	}
}


