/* factor button 0 */
#moduleButton0 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color1 3.99px, #fff 4.99px, #fff 22.5px, $color1 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%; 
}
#moduleButton0 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color1 8.99px, #fff 9.99px, #fff 22.5px, $color1 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton0 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color1 13.99px, #fff 14.99px, #fff 22.5px, $color1 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton0 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color1 18.99px, #fff 19.99px, #fff 22.5px, $color1 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton0 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color1 23.99px, #fff 24.99px, #fff 22.5px, #fff 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
/* factor button 0 with background color  */
#moduleButton0 {
 .bc {
	 &.overlayDiv1 {
		background:radial-gradient(circle farthest-side, $color1 3.99px, $cbc 4.99px, $cbc 22.5px, $color1 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton0 {
 .bc {
	 &.overlayDiv2 {
		background:radial-gradient(circle farthest-side, $color1 8.99px, $cbc 9.99px, $cbc 22.5px, $color1 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton0 {
 .bc {
	 &.overlayDiv3 {
		background:radial-gradient(circle farthest-side, $color1 13.99px, $cbc 14.99px, $cbc 22.5px, $color1 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton0 {
 .bc {
	 &.overlayDiv4 {
		 background:radial-gradient(circle farthest-side, $color1 18.99px, $cbc 19.99px, $cbc 22.5px, $color1 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		 }
	}
}
#moduleButton0 {
 .bc {
	 &.overlayDiv5 {
		 background:radial-gradient(circle farthest-side, $color1 23.99px, $cbc 24.99px, $cbc 22.5px, $cbc 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		}
	}
}
/* factor button 1 */
#moduleButton1 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color2 3.99px, #fff 4.99px, #fff 22.5px, $color2 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton1 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color2 8.99px, #fff 9.99px, #fff 22.5px, $color2 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton1 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color2 13.99px, #fff 14.99px, #fff 22.5px, $color2 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton1 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color2 18.99px, #fff 19.99px, #fff 22.5px, $color2 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton1 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color2 23.99px, #fff 24.99px, #fff 22.5px, $color2 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
/* factor button 0 with background color  */
#moduleButton1 {
 .bc {
	 &.overlayDiv1 {
		background:radial-gradient(circle farthest-side, $color2 3.99px, $cbc 4.99px, $cbc 22.5px, $color2 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton1 {
 .bc {
	 &.overlayDiv2 {
		background:radial-gradient(circle farthest-side, $color2 8.99px, $cbc 9.99px, $cbc 22.5px, $color2 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton1 {
 .bc {
	 &.overlayDiv3 {
		background:radial-gradient(circle farthest-side, $color2 13.99px, $cbc 14.99px, $cbc 22.5px, $color2 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton1 {
 .bc {
	 &.overlayDiv4 {
		 background:radial-gradient(circle farthest-side, $color2 18.99px, $cbc 19.99px, $cbc 22.5px, $color2 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		 }
	}
}
#moduleButton1 {
 .bc {
	 &.overlayDiv5 {
		 background:radial-gradient(circle farthest-side, $color2 23.99px, $cbc 24.99px, $cbc 22.5px, $cbc 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		}
	}
}

/* factor button 2 */
#moduleButton2 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color3 3.99px, #fff 4.99px, #fff 22.5px, $color3 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton2 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color3 8.99px, #fff 9.99px, #fff 22.5px, $color3 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton2 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color3 13.99px, #fff 14.99px, #fff 22.5px, $color3 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton2 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color3 18.99px, #fff 19.99px, #fff 22.5px, $color3 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton2 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color3 23.99px, #fff 24.99px, #fff 22.5px, $color3 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
/* factor button 0 with background color  */
#moduleButton2 {
 .bc {
	 &.overlayDiv {
		background:radial-gradient(circle farthest-side, $color3 3.99px, $cbc 4.99px, $cbc 22.5px, $color3 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton2 {
 .bc {
	 &.overlayDiv2 {
		background:radial-gradient(circle farthest-side, $color3 8.99px, $cbc 9.99px, $cbc 22.5px, $color3 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton2 {
 .bc {
	 &.overlayDiv3 {
		background:radial-gradient(circle farthest-side, $color3 13.99px, $cbc 14.99px, $cbc 22.5px, $color3 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton2 {
 .bc {
	 &.overlayDiv4 {
		 background:radial-gradient(circle farthest-side, $color3 18.99px, $cbc 19.99px, $cbc 22.5px, $color3 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		 }
	}
}
#moduleButton2 {
 .bc {
	 &.overlayDiv5 {
		 background:radial-gradient(circle farthest-side, $color3 23.99px, $cbc 24.99px, $cbc 22.5px, $cbc 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		}
	}
}

/* factor button 3 */
#moduleButton3 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color4 3.99px, #fff 4.99px, #fff 22.5px, $color4 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton3 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color4 8.99px, #fff 9.99px, #fff 22.5px, $color4 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton3 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color4 13.99px, #fff 14.99px, #fff 22.5px, $color4 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton3 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color4 18.99px, #fff 19.99px, #fff 22.5px, $color4 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton3 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color4 23.99px, #fff 24.99px, #fff 22.5px, $color4 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
/* factor button 0 with background color  */
#moduleButton3 {
 .bc {
	 &.overlayDiv1 {
		background:radial-gradient(circle farthest-side, $color4 3.99px, $cbc 4.99px, $cbc 22.5px, $color4 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton3 {
 .bc {
	 &.overlayDiv2 {
		background:radial-gradient(circle farthest-side, $color4 8.99px, $cbc 9.99px, $cbc 22.5px, $color4 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton3 {
 .bc {
	 &.overlayDiv3 {
		background:radial-gradient(circle farthest-side, $color4 13.99px, $cbc 14.99px, $cbc 22.5px, $color4 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton3 {
 .bc {
	 &.overlayDiv4 {
		 background:radial-gradient(circle farthest-side, $color4 18.99px, $cbc 19.99px, $cbc 22.5px, $color4 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		 }
	}
}
#moduleButton3 {
 .bc {
	 &.overlayDiv5 {
		 background:radial-gradient(circle farthest-side, $color4 23.99px, $cbc 24.99px, $cbc 22.5px, $cbc 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		}
	}
}
/* factor button 4 */
#moduleButton4 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color5 3.99px, #fff 4.99px, #fff 22.5px, $color5 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton4 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color5 8.99px, #fff 9.99px, #fff 22.5px, $color5 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton4 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color5 13.99px, #fff 14.99px, #fff 22.5px, $color5 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton4 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color5 18.99px, #fff 19.99px, #fff 22.5px, $color5 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton4 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color5 23.99px, #fff 24.99px, #fff 22.5px, $color5 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
/* factor button 0 with background color  */
#moduleButton4 {
 .bc {
	 &.overlayDiv1 {
		background:radial-gradient(circle farthest-side, $color5 3.99px, $cbc 4.99px, $cbc 22.5px, $color5 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton4 {
 .bc {
	 &.overlayDiv2 {
		background:radial-gradient(circle farthest-side, $color5 8.99px, $cbc 9.99px, $cbc 22.5px, $color5 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton4 {
 .bc {
	 &.overlayDiv3 {
		background:radial-gradient(circle farthest-side, $color5 13.99px, $cbc 14.99px, $cbc 22.5px, $color5 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton4 {
 .bc {
	 &.overlayDiv4 {
		 background:radial-gradient(circle farthest-side, $color5 18.99px, $cbc 19.99px, $cbc 22.5px, $color5 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		 }
	}
}
#moduleButton4 {
 .bc {
	 &.overlayDiv5 {
		 background:radial-gradient(circle farthest-side, $color5 23.99px, $cbc 24.99px, $cbc 22.5px, $cbc 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		}
	}
}
/* factor button 5 */
#moduleButton5 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color6 3.99px, #fff 4.99px, #fff 22.5px, $color6 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton5 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color6 8.99px, #fff 9.99px, #fff 22.5px, $color6 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton5 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color6 13.99px, #fff 14.99px, #fff 22.5px, $color6 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton5 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color6 18.99px, #fff 19.99px, #fff 22.5px, $color6 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
#moduleButton5 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color6 23.99px, #fff 24.99px, #fff 22.5px, $color6 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
}
/* factor button 0 with background color  */
#moduleButton5 {
 .bc {
	 &.overlayDiv1 {
		background:radial-gradient(circle farthest-side, $color6 3.99px, $cbc 4.99px, $cbc 22.5px, $color6 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton5 {
 .bc {
	 &.overlayDiv2 {
		background:radial-gradient(circle farthest-side, $color6 8.99px, $cbc 9.99px, $cbc 22.5px, $color6 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton5 {
 .bc {
	 &.overlayDiv3 {
		background:radial-gradient(circle farthest-side, $color6 13.99px, $cbc 14.99px, $cbc 22.5px, $color6 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		}
	}
}
#moduleButton5 {
 .bc {
	 &.overlayDiv4 {
		 background:radial-gradient(circle farthest-side, $color6 18.99px, $cbc 19.99px, $cbc 22.5px, $color6 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		 }
	}
}
#moduleButton5 {
 .bc {
	 &.overlayDiv5 {
		 background:radial-gradient(circle farthest-side, $color6 23.99px, $cbc 24.99px, $cbc 22.5px, $cbc 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:100%;
		}
	}
}
/* remove default style from slider elements */
.sliderTotal {
    color: $b;
    cursor: default;
    font-size: 20px;
    font-weight: 600;
    left: 72px;
    position: absolute;
    top: 47%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    z-index: 995;
  }
/* style the scorer buttons per column */
#scorerStyle0 .scorer {
    background:radial-gradient(circle farthest-side, $color1 24px, #fff 4.99px, #fff 22.5px, $color1 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#scorerStyle0 {
 .bc {
	 &.scorer {
		background:radial-gradient(circle farthest-side, $color1 24px, $cbc 4.99px, $cbc 22.5px, $color1 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		}
	}
}
#scorerStyle1 .scorer {
	background:radial-gradient(circle farthest-side, $color2 24px, #fff 9.99px, #fff 22.5px, $color2 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#scorerStyle1{
 .bc {
	 &.scorer {
		background:radial-gradient(circle farthest-side, $color2 24px, $cbc 4.99px, $cbc 22.5px, $color2 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		}
	}
}
#scorerStyle2 .scorer {
	background:radial-gradient(circle farthest-side, $color3 24px, #fff 9.99px, #fff 22.5px, $color3 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#scorerStyle2{
 .bc {
	 &.scorer {
		background:radial-gradient(circle farthest-side, $color3 24px, $cbc 4.99px, $cbc 22.5px, $color3 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		}
	}
}
#scorerStyle3 .scorer {
	background:radial-gradient(circle farthest-side, $color4 24px, #fff 9.99px, #fff 22.5px, $color4 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#scorerStyle3{
 .bc {
	 &.scorer {
		background:radial-gradient(circle farthest-side, $color4 24px, $cbc 4.99px, $cbc 22.5px, $color4 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		}
	}
}
#scorerStyle4 .scorer {
	background:radial-gradient(circle farthest-side, $color5 24px, #fff 9.99px, #fff 22.5px, $color5 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#scorerStyle4{
 .bc {
	 &.scorer {
		background:radial-gradient(circle farthest-side, $color5 24px, $cbc 4.99px, $cbc 22.5px, $color5 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		}
	}
}
#scorerStyle5 .scorer {
	background:radial-gradient(circle farthest-side, $color6 24px, #fff 9.99px, #fff 22.5px, $color6 23.75px, #fff 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#scorerStyle5{
 .bc {
	 &.scorer {
		background:radial-gradient(circle farthest-side, $color6 24px, $cbc 4.99px, $cbc 22.5px, $color6 23.75px, $cbc 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
		}
	}
}