/*@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";*/
@import "_sassMixins.scss";
// chart header colors
$colors: #6e958d #978062 #759caf #70ccd3 #424809 #1d355b #cf9ae4 #6e958d #978062 #edfbb1 #70ccd3 #424809 #1d355b #cf9ae4;
// slider colors
$color1: 		#883682;
$color2: 		#1f74c9;
$color3: 		#fdc732;
$color4: 		#e2282f;
$color5: 		#4fbd55;
$color6: 		#d10b49;
$scrollButton: 	#e9eaed;


// click background color
$cbc:			#73c1ca;

//Chart key div width height font size
$ckdw: 12px;
$ckdh: 12px;
$ckfs: 8pt;

// primary colors
$w: 	#fff;
$b: 	#000;
$grey:	#e9eaed;
$lgrey: #f4f4f6;

// padding
$intHeadPad: 10%;
$hb: #1597a7;

// font size
$headerNumberFont: 255%;


@media screen and (max-width: 992px) {
    body {
        background-color: $w;
    }
}
 ul {
    padding: 0;
}
a:hover {
	text-decoration: none;
}
/* main page */
.selector {
	border:1px solid black;
    width:1px;
}
.col-md-8 {
    width: 66%;
    float:left;
}
.col-md-2 {
    width: 16%;
    float:left;
}
footer {
	position: relative;
	z-index: 9999;
}
// single or double css lines updates 
.resetContainer {
	padding: 0;	
	position: fixed;
	 z-index: 9999;
}
#game-content {
	padding-top: 240px;
}
#labelsFirstCol {
	height: 100%;
}
.backgroundCBC {
	background: $cbc !important;	
}
.selectBackground {
	background: $cbc !important;
	color: $w;
}
.setTransition {
	@include transition(right, 1s, ease-in-out);
}
.navbar { border: 0; }

.navbar-inverse {
    background-color: #2797ba;
    border-color: #fff;
}
.fixedHeader {
	position: fixed;
	width: 100%;
	z-index: 998;
}
.whiteHeader {
	background: $w;
}
.blueHeader {
	background: #1597a7;
		.zeroPaddingLeft {
			padding-left: 0;
		}
}
#questiontext1 {
    color: #000;
	display: none;
    margin-top: 75px;
    min-height: 75px;
}
// the navigation bar for the labels
.sliderNav {
	height: 30px;
	background: $w;
		.zeroPaddingRight {
			padding-right: 0;
			background-clip: content-box;
		}
}
.selectedCBC {
	background: $cbc;
}
.sliderNavContainer {
	display: inline-block;
    overflow: hidden;
    width: 518px;
}
.sliderNavWrapper {
	height: 100%;
	margin: 0;
	position: relative;
	right: 0px
}
.sliderLabelContainer {
	display: inline-block;
	font-size: 8pt;
	list-style: none;
	text-align: center;
	width: 105px;
}	
.navButtonContainer {
	display: inline-block;
	list-style: none;
	width: 24px;
}
.sliderNavButton {
	color: #1597a7;
		button {
			background: 0;

		}
}
// charts
.chartKey {
	width: 100%;

}
.chartKeyText {
	font-family: "Open Sans" ;
	font-size: 7pt;
	line-height:12px;	
	padding-left: 5px;
}
.chartKeyRow {
 /* empty */
}
.heightFiller10 {
	height: 10px;
    width: 100%;
}
.heightFiller5 {
	height: 5px;
	width: 100%;
}
.chartKeyDiv1{
	background: $color1;
	width: $ckdw;
	height: $ckdh;
}
.chartKeyDiv2{
	background: $color2;
	width: $ckdw;
	height: $ckdh;
}
.chartKeyDiv3{
		background: $color3;
	width: $ckdw;
	height: $ckdh;
}
.chartKeyDiv4{
		background: $color4;
	width: $ckdw;
	height: $ckdh;
}
.chartKeyDiv5{
		background: $color5;
	width: $ckdw;
	height: $ckdh;
}
.postionWidth {
	width:47px;
}
.chartContainer {
	width:102px;
	height:102px; 
	position: relative;	
}
/* fillers */
.fillerDiv25 {
    height: 25%;
}

/* bs tooltip */
.tooltip {
	z-index:997;
}
	.tooltip-inner {
	background-color: $hb;
	$color6dius: 0;
	color: #fff;
	font-size: 12px;
	margin: 0 6px 0 0;
	max-width: 320px;
	padding: 11%;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
.tooltip.top .tooltip-arrow {
	border-top-color: $hb;
	border-width: 12px 12px 0;
	bottom: 0;
	left: 50%;
	margin-left: -12px;
}
/* bs dropdown */
.dropdown-menu {
	border: 1px solid #2797ba;
	@include border-radius(0);
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.canvasBackground {
	display: block;	
}

/* button styling*/
.moduleButtonLabel {
    font-weight: 600;
}
.scrollButtonLeft {
	color: $scrollButton;
	position: absolute;	
	left: 36%;
	top: 50%;
	font-size: 32px;
}
.scrollButtonRight {
	color: $scrollButton;
	position: absolute;	
	left: 62%;
	top: 50%;
}
.scorer {
  color: $w;
  display: table;
  font-size: 18px;
  @include no-select;
  height: 100%;
  width: 100%;
}
/* the slider styling*/
.scorerWrapper {	
	position: relative;
	height: 100%;
	right: 0px;
}
.scorerRow { 
    display: inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 5px;
    height: 100px;

}
.labelRow {
    overflow: hidden;
    height: 20px;
}
.sliderSpacer {
    display: inline-block;
}
.scorerContainer {
   display: inline-block;
    height: 100px;
    list-style: outside none none;
    margin: 0 auto; 
	padding: 0 20px;
	width: 105px;	
	}
.sliderLabel {
	padding-left: 0px;	
}
.sliderLabelMobile {
	display: none;	
}
/*.slider .handleStyle {
    background: #fff;
    border: 0 none;
    height: 25px;
    left: -6px;
	position: absolute;
    width: 22px;
}
.slider .handleStyle:hover {
    background: #fff;
    border:0;
} */
/* style the factor button */
.factorIcon {
    width:50px;
    height: 50px;
    margin: 0 auto;
}
.overlayDiv {
    position: relative;
    z-index: 100;
    width:50px;
    height:50px;
}
/* factor button 0 */
.greyOut{
	@include background-opacity(#d3d3d3, 0.5);
	position: absolute;
	z-index: 997;
	width: 61.5%;
	.greyOutPlus {
		height: 15%;
		width: 10%;
	}
}

  /*      #moduleButton0{
            color: $color1;
            .buttonInner0{
                font-size: 0.5em;
            }
        }
    .fa-plus {
    	cursor: default;
    } */

.buttonColumn {
	height : 100px;
	@include no-select;
}
.scorerValue {
  margin: 0 auto;
  width: 25%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.highLightOverlay {
	position: absolute;
	z-index: 998;
}
@media (min-width: 1200px){
	.container {
  		width: 1170px;
	}
}
@import "_style_buttons.scss";
@import "_style_1200.scss";
@import "_style_992.scss";
