/* factor button 0 */
#slider0 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color1 3.99px, #fff 4.99px, #fff 22.5px, $color1 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider0 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color1 8.99px, #fff 9.99px, #fff 22.5px, $color1 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
   height: 50px; 
   margin-top: -10px;
}
#slider0 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color1 13.99px, #fff 14.99px, #fff 22.5px, $color1 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider0 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color1 18.99px, #fff 19.99px, #fff 22.5px, $color1 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider0 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color1 23.99px, #fff 24.99px, #fff 22.5px, #fff 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
	margin-top: -10px;
}
/* factor button 1 */
#slider1 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color2 3.99px, #fff 4.99px, #fff 22.5px, $color2 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider1 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color2 8.99px, #fff 9.99px, #fff 22.5px, $color2 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
	margin-top: -10px;
}
#slider1 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color2 13.99px, #fff 14.99px, #fff 22.5px, $color2 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider1 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color2 18.99px, #fff 19.99px, #fff 22.5px, $color2 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider1 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color2 23.99px, #fff 24.99px, #fff 22.5px, $color2 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}

/* factor button 2 */
#slider2 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color3 3.99px, #fff 4.99px, #fff 22.5px, $color3 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider2 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color3 8.99px, #fff 9.99px, #fff 22.5px, $color3 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider2 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color3 13.99px, #fff 14.99px, #fff 22.5px, $color3 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider2 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color3 18.99px, #fff 19.99px, #fff 22.5px, $color3 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider2 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color3 23.99px, #fff 24.99px, #fff 22.5px, $color3 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
/* factor button 3 */
#slider3 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color4 3.99px, #fff 4.99px, #fff 22.5px, $color4 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider3 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color4 8.99px, #fff 9.99px, #fff 22.5px, $color4 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
	margin-top: -10px;
}
#slider3 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color4 13.99px, #fff 14.99px, #fff 22.5px, $color4 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider3 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color4 18.99px, #fff 19.99px, #fff 22.5px, $color4 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider3 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color4 23.99px, #fff 24.99px, #fff 22.5px, $color4 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
/* factor button 4 */
#slider4 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color5 3.99px, #fff 4.99px, #fff 22.5px, $color5 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider4 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color5 8.99px, #fff 9.99px, #fff 22.5px, $color5 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider4 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color5 13.99px, #fff 14.99px, #fff 22.5px, $color5 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider4 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color5 18.99px, #fff 19.99px, #fff 22.5px, $color5 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider4 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color5 23.99px, #fff 24.99px, #fff 22.5px, $color5 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
/* factor button 5 */
#slider5 .overlayDiv1 {
    background:radial-gradient(circle farthest-side, $color6 3.99px, #fff 4.99px, #fff 22.5px, $color6 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider5 .overlayDiv2 {
    background:radial-gradient(circle farthest-side, $color6 8.99px, #fff 9.99px, #fff 22.5px, $color6 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
	margin-top: -10px;
}
#slider5 .overlayDiv3 {
    background:radial-gradient(circle farthest-side, $color6 13.99px, #fff 14.99px, #fff 22.5px, $color6 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider5 .overlayDiv4 {
     background:radial-gradient(circle farthest-side, $color6 18.99px, #fff 19.99px, #fff 22.5px, $color6 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}
#slider5 .overlayDiv5 {
     background:radial-gradient(circle farthest-side, $color6 23.99px, #fff 24.99px, #fff 22.5px, $color6 23.75px, rgba(255,255,255,0) 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px; 
	margin-top: -10px;
}